<!DOCTYPE html>
<html>

<header>
    <title>About Crapto Currency
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/crapto.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/crapto32.png" alt="Crapto icon"/></div>
      </li>
      <li>
	<a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
	<a href="/help">Help</a>
      </li>
    </ul>
</header>

<body>
  <center>
	<img src="static/images/crapto256.png" alt="Crapto icon"/>
  </center>

<h3>FAQ</h3>

<h4>What is Crapto Currency?</h4>
<h5>Crapto Currency, or simply "Crapto," is a digital cryptocurrency similar to Bitcoin.</h5>

<h4>What can I do with my Crapto?</h4>
<h5>Most people send some to a friend or two to make them smile. You may choose to hodl it until its value follows the trend of cryptocurrencies like Bitcoin (which started at US$0.0008 and today sells for around US$60k). You may exchange Crapto for goods, services, or other currency, with any individual or entity accepting Crapto as a form of payment.</h5>

<h4>Can I mine for more Crapto (i.e., participate in verifying transactions)?</h4>
<h5>Yes. However, it is somewhat rudimentary through the web interface; instead, you probably want to build from source and install the client (for Linux and Windows) at: <a href="https://github.com/nickarmstrongcrews/crapto">https://github.com/nickarmstrongcrews/crapto</a> (note: this is not recommended for the uninitiated).</h5>

<h4>What is the fee structure?</h4>
<h5>There are no fees to send or receive Crapto using any of the wallet interfaces (web, Linux, Windows clients).</h5>

<h4>Where can I learn more about cryprocurrency?</h4>
<h5><a href="https://en.wikipedia.org/wiki/Cryptocurrency">Wikipedia article</a></h5>

<h4>Is this real?</h4>
<h5>Is anything "real?" Is Bitcoin "real?" Does cash printed on pieces of paper have any inherent value? Anything in demand has value. Crapto is as "real" as Bitcoin, or any other cryptocurrency... and we believe demand will grow. At the very least, we can all agree Crapto is a memorable name.</h5>

<h4>Is this a joke?</h4>
<h5>Yes. But it is also a cryptocurrency. Another joke cryptocurrency is <a href="https://en.wikipedia.org/wiki/Dogecoin">Dogecoin</a>, which reached market cap of US$85 billion.</h5>

<h4>Why is this website so crappy?</h4>
<h5>...</h5>

<h4>Who is responsible for this foolishness?</h4>
<h5>
Creators are:<br>
<table>
<tr>Nick Armstrong-Crews</tr><br>
<tr>Bill Yang</tr><br>
<tr>Kai Ruan</tr><br>
<tr>Vince Steffens</tr><br>
<tr>Dayle Armstrong</tr><br>
</table>
</h5>

</body>

</html>
