<!DOCTYPE html>
<html>

<header>
    <title>About Crapto
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/crapto.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/crapto32.png" alt="Crapto icon"/></div>
      </li>
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/about">About</a>
      </li>
    </ul>
</header>

<body>
  <center>
	<img src="static/images/crapto256.png" alt="Crapto icon"/>
  </center>

<h3>FAQ</h3>

<h4>What is Crapto?</h4>
<h5>Crapto, short for "Craptocurrency," is a digital currency (or "cryptocurrency") similar to Bitcoin.</h5>

<h4>What can I do with my Crapto?</h4>
<h5>Most likely you will want to save it until its value follows the trend of cryptocurrencies like Bitcoin (which started at US$0.0008 and today sells for around US$60k). You can also send and receive Crapto, for example in exchange for goods and services, to any individual or entity which accepts Crapto as a form of payment.</h5>

<h4>Can I mine for more Crapto?</h4>
<h5>Yes. However, it is somewhat rudimentary through the web interface; instead, you probably want to build from source and install the client (for Linux and Windows) at: <a href=https://github.com/nickarmstrongcrews/crapto>https://github.com/nickarmstrongcrews/crapto</a> (note: this is not recommended for the uninitiated).</h5>

<h4>Where can I learn more about cryprocurrency?</h4>
<h5><a href="https://en.wikipedia.org/wiki/Cryptocurrency">Wikipedia article</a></h5>

<h4>Is this real?</h4>
<h5>Is anything "real?" Is Bitcoin "real?" Does cash printed on pieces of paper have any inherent value? Anything in demand has value. Crapto is as "real" as Bitcoin, or any other cryptocurrency... and we believe demand will grow. At the very least, we can all agree Crapto is a memorable name.</h5>

<h4>Is this a joke?</h4>
<h5>Yes. But it is also a cryptocurrency. Another joke cryptocurrency is <a href="https://en.wikipedia.org/wiki/Dogecoin">Dogecoin</a>, which reached market cap of US$85 billion.</h5>

</body>

</html>
