<!DOCTYPE html>
<html>

<header>
    <title>NFTs for Refugees
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/n4r64.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/n4r32.png" alt="N4R icon"/></div>
      </li>
      <li>
	<a href="/n4r">Home</a>
      </li>
      <li>
	<a href="/n4r_create">Create/Donate</a>
      </li>
      <li>
	<a href="/n4r_refugee">Refugee Portal</a>
      </li>
      <li>
        <a href="/">Crapto Home</a>
      </li>
    </ul>
</header>

<body>

    <h1>
      <center>Create/Donate</center>
      <center><img src="static/images/n4r256.png" alt="N4R icon"/></center>
    </h1>

<h5>
This will cost 0.1 billion crapto, or roughly the amount you can mine in one second. Go to <a href="/">Crapto home</a> if you need to generate some Crapto.<br>

Enter your crapto wallet: (wallet_address)<br>
Password: (password)<br>

Select the type of NFT you would like to generate: (food/medicine/shelter)<br>
</h5>

<center>
<img src="static/images/food_nft.jpg">
<img src="static/images/medicine_nft.jpg">
<img src="static/images/shelter_nft.jpg">
</center>

</body>

</html>
