<!DOCTYPE html>
<html>

<header>
    <title>NFTs for Refugees
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/n4r64.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/n4r32.png" alt="N4R icon"/></div>
      </li>
      <li>
	<a href="/n4r">Home</a>
      </li>
      <li>
	<a href="/n4r_faq">FAQ</a>
      </li>
      <li>
	<a href="/n4r_create">Donate</a>
      </li>
      <li>
	<a href="/n4r_refugee">Refugee Portal</a>
      </li>
      <li>
        <a href="/help">Help</a>
      </li>
      <li>
        <a href="/">Crapto Home</a>
      </li>
    </ul>
</header>

<body>

    <h1>
      <center>NFTs for Refugees</center>
      <center><img src="static/images/n4r256.png" alt="N4R icon"/></center>
    </h1>

<h3>N4R FAQ</h3>

<h4>What is NFTs for Refugees (N4R)?</h4>
<h5>Unlike other charitable organizations, we believe in looking beyond the *immediate* needs of refugees to consider their *long-term* welfare. We give them NFTs to set them up to succeed in the growing digital economy of tomorrow, striking a hearty blow against the spectre of generational poverty.</h5>

<h4>What is an NFT?</h4>
<h5>Our NFTs are "non-food tokens," which work exactly the same way as the more common "non-fungible token" NFTs (see <a href="https://en.wikipedia.org/wiki/Non-fungible_token">Wikipedia article</a>).</h5>

<h4>How do the NFTs get to the refugees?</h4>
<h5>Any refugee may enter the <a href="/n4r_refugee">refugee portal</a> and access their NFT.</h5>

<h4>Can I donate existing external NFTs?</h4>
<h5>Not currently; we are working on this feature and hope it will be available soon.</h5>

<h4>Can I export my NFT outside of this site?</h4>
<h5>No, your NFT is not for you; it is for refugees. If you are a donor *and* a refugee, you may access your NFT through the <a href="/n4r_refugee">refugee portal</a>.</h5>

<h4>How do I get an NFT to donate?</h4>
<h5>You can generate and purchase a new NFT in exchange for Crapto currency.</h5>

<h4>How do I get Crapto currency?</a>
<h5>The <a href="/n4r_create">Donate page</a> gives the option to create an empty Crapto wallet and mine some Crapto. It should take roughly 1 second to mine enough to buy an NFT.</h5>

<h4>Is this NFT worth anything?</h4>
<h5>There is no inherent value in our NFTs (just like any other NFT). However, there may be demand, and anything in demand has value in some sense. One external NFT <a href="https://decrypt.co/62898/most-expensive-nfts-ever-sold">sold</a> for US$70 million.</h5>

<h4>Are NFTs and cryptocurrency related?</h4>
<h5>They are both based on blockchain technology to verify transactions. Additionally, many NFTs may be bought (or sold) in exchange for cryptocurrency. One key difference is that if you have a Bitcoin and I have a Bitcoin and we swap them, we have the same thing we started with; i.e., they are "fungible." But if you have a son and I have a son and we swap them, much has changed; i.e., sons (like NFTs) are non-fungible.</h5>

<h4>Are all the NFTs you generate unique?</h4>
<h5>Yes, that is what makes an NFT "non-fungible." Our NFTs may appear similar to the naked eye, but each has subtle differences that make them uniquer than a Millennial snowflake.</h5>

<h4>Am I missing something? Is an NFT just an image?</h4>
<h5>Like most things on the internet, a general abstract concept tends to get used primarily in one specific way and then people come to equate that specific thing with the entirety of the original abstract concept (e.g., the <a href="https://en.wikipedia.org/wiki/Internet_meme">meme</a>). An NFT is not an image; it is a proof-of-ownership (like a deed to a house). While in principle anything can be "owned," NFTs are most often used these days to prove ownership of computer-generated images.</h5>

<h4>So you're not even delivering the <i>images</i> themselves to refugees, but only <i>tokens</i> representing <i>ownership</i> of the images?</h4>
<h5>Bingo. I hope this helps to clarify the precise value of all the NFTs you read about in the news.</h5>

<h4>Can I join your blockchain and help verify transactions (by mining)?</h4>
<h5>While you can participate in verification (and thereby mine Crapto) right from the Crapto web interface, you can also add your server node to our network by downloading and building the source code on the <a href="/about">Crapto FAQ</a>.</h5>

<h4>Is this real?</h4>
<h5>Is anything "real?" Are other NFTs "real?"</h5>

<h4>Is this a joke?</h4>
<h5>Yes. But it is also an NFT.</h5>

<h4>This is not funny. Why are you wasting people's time and resources?</h4>
<h5>
Judge not too harshly, because for every hour of time spent building this site, we have donated a matching amount of our hourly wages and our employer has donated <i>another</i> copy of this matching amount. NFTs are funny, but not refugees. 
</h5>

<h4>How do I donate to refugee's immediate needs?</h4>
<h5>
  <a href="https://pomagamukrainie.gov.pl/">https://pomagamukrainie.gov.pl</a><br>
  <a href="https://novaukraine.org/">https://novaukraine.org</a> - accepts donations of cryptocurrency!<br>
  <a href="https://razomforukraine.org">https://razomforukraine.org</a> - accepts donations of cryptocurrency or stocks!<br>
</h5>

<h4>Why is this website so crappy?</h4>
<h5>...</h5>

<h4>Who is responsible for this foolishness?</h4>
<h5>
Creators are:<br>
<table>
<tr><a href="https://onlyfans.com/dr_strongarm">Nick Armstrong-Crews</a></tr><br>
<tr>Bill Yang</tr><br>
<tr>Kai Ruan</tr><br>
<tr>Vince Steffens</tr><br>
<tr>Dayle Armstrong</tr><br>
</table>
</h5>

</body>

</html>
