<!DOCTYPE html>
<html>

<header>
    <title>NFTs for Refugees
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/n4r64.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/n4r32.png" alt="N4R icon"/></div>
      </li>
      <li>
	<a href="/n4r">N4R Home</a>
      </li>
      <li>
	<a href="/n4r_create">N4R Create/Donate</a>
      </li>
      <li>
	<a href="/n4r_refugee">N4R Refugee Portal</a>
      </li>
      <li>
        <a href="/">Crapto Home</a>
      </li>
    </ul>
</header>

<body>

    <h1>
      <center>Refugee Portal</center>
      <center><img src="static/images/n4r256.png" alt="N4R icon"/></center>
    </h1>

<h5>
Are you a refugee? (y/n)

Have you claimed an NFT? (y/n)

Password to access your NFT: (password)

Here is your NFT.
</h5>

<center>
  <img src="static/images/food_nft.png" alt="N4R icon"/>
</center>

</body>

</html>
