<!DOCTYPE html>
<html>

<header>
    <title>NFTs for Refugees
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/crapto.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
	<div class=header-vcentered><img src="static/images/n4r128.png" alt="Crapto icon"/></div>
      </li>
      <li>
	<a href="/n4r">N4R Home</a>
      </li>
      <li>
        <a href="/">Crapto Home</a>
      </li>
    </ul>
</header>

<body>

    <h1>
      <center>NFTs for Refugees</center>
	<img src="static/images/n4r256.png" alt="N4R icon"/>
    </h1>

<h3>N4R FAQ</h3>

<h4>What is NFTs for Refugees (N4R)?</h4>
<h5>Crapto Currency, or simply "Crapto," is a digital cryptocurrency similar to Bitcoin.</h5>

<h4>What is an NFT?</h4>
<h5>Our NFTs are "non-food tokens," that work exactly the same way as the more common "non-fungible token" NFTs (see <a href="https://en.wikipedia.org/wiki/Non-fungible_token">Wikipedia article</a>).</h5>

<h4>How do the NFTs get to the refugees?</h4>
<h5>Any refugee may enter the <a href="refugee">refugee portal</a> and access their NFT.</h5>

<h4>Can I donate existing external NFTs?</h4>
<h5>Not currently; we are working on this feature and hope it will be available soon.</h5>

<h4>Can I export my NFT outside of this site?</h4>
<h5>No, your NFT is not for you, it is for refugees. If you are a donor *and* a refugee, you may access your NFT through the 
<a href="refugee">refugee portal</a>.</h5>

<h4>How do I get an NFT to donate?</h4>
<h5>You can generate and purchase a new NFT in exchange for Crapto currency.</h5>

<h4>How do I get Crapto currency?</a>
<h5>You can create an empty Crapto wallet and mine some. It should take roughly 1 second to mine enough Crapto to buy an NFT.</h5>

<h4>Is this NFT worth anything?</h4>
<h5>There is no inherent value in our NFTs, just like any other NFT. However, there may be demand, and anything in demand has value. One external NFT <a href="https://decrypt.co/62898/most-expensive-nfts-ever-sold">sold</a> for US$70 million.</h5>

<h4>Are NFTs and cryptocurrency related?</h4>
<h5>They are both based on blockchain technology to verify transactions. Additionally, many NFTs may be bought (or sold) in exchange for cryptocurrency.</h5>

<h4>Is this real?</h4>
<h5>Is anything "real?" Are other NFTs "real?"</h5>

<h4>Is this a joke?</h4>
<h5>Yes. But it is also an NFT.</h5>

<h4>Why is this website so crappy?</h4>
<h5>...</h5>

<h4>Who is responsible for this foolishness?</h4>
<h5>
Creators are:<br>
<table>
<tr>Nick Armstrong-Crews</tr><br>
<tr>Bill Yang</tr><br>
<tr>Kai Ruan</tr><br>
<tr>Vince Steffens</tr><br>
<tr>Dayle Armstrong</tr><br>
</table>
</h5>

</body>

</html>
