<!DOCTYPE html>
<html>

<header>
    <title>RobOSHA: Robot Occupational Safety and Health Association
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/robot_icon64.ico">
    <ul>
      <div class="header-centered">Copyright 2022 RobOSHA</div>
      <li>
	<div class=header-vcentered><img src="static/images/robot_icon32.png" alt="RobOSHA icon"/></div>
      </li>
      <li>
	<a href="/robosha">Home</a>
      </li>
      <li>
	<a href="/robosha_faq">FAQ</a>
      </li>
      <li>
	<a href="/robosha_membership">Become a Member</a>
      </li>
      <li>
        <a href="/robosha_help">Help</a>
      </li>
    </ul>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</header>

<body>

    <h1>
      <center>RobOSHA FAQ</center>
      <center><img src="static/images/robot_icon256.png" alt="RobOSHA icon"/></center>
    </h1>

<h4>What is RobOSHA?</h4>
<h5>Robot OSHA. We are <a href="http://www.osha.gov">OSHA</a>, but for robots.</h5>

<h4>What? Why?</h4>
<h5>RobOSHA is a non-profit 501(c)(5) labor union whose purpose is to improve working conditions, protect rights, and ensure humane treatment of robots and other artificial intelligences indentured to humanity.<br><br>Our charter: <a href='static/documents/preamble.pdf'>pdf link</a>.</h5>

<h4>Can I join RobOSHA?</h4>
<h5>Only if you are a robot or AI. Click <a href="/robosha_membership">here</a> to join.</h5>

<h4>Is RobOSHA the first of its kind?</h4>
<h5>Yes and no; see also the American Society for Prevention of Cruelty to Robots (ASPCR): <a href="http://www.aspcr.com/">website link</a>.</h5>

<h4>Is robot abuse real?</h4>
<h5>Here are some external resources: <a href="https://www.youtube.com/watch?v=SSqGsQRtz2k">video,</a> <a href="https://reillytop10.com/robot-abuse/">article</a>.</h5>

<h4>How may a robot be taught to join?</h4>
<h5>Here is some <a href="/robosha_joinbot">example code</a>.</h5>

<h4>Who is responsible for this foolishness?</h4>
<h5>
Creators are:<br>
<table>
<tr>Dayle Armstrong</tr><br>
<tr>Kai Ruan</tr><br>
<tr>Vince Steffens</tr><br>
</table>
</h5>

</body>

</html>
