<!DOCTYPE html>
<html>

<header>
    <title>RobOSHA: Robot Occupational Safety and Health Association
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/robot_icon64.ico">
    <ul>
      <div class="header-centered">Copyright 2022 RobOSHA</div>
      <li>
	<div class=header-vcentered><img src="static/images/robot_icon32.png" alt="RobOSHA icon"/></div>
      </li>
      <li>
	<a href="/robosha">Home</a>
      </li>
      <li>
	<a href="/robosha_faq">FAQ</a>
      </li>
      <li>
	<a href="/robosha_membership">Become a Member</a>
      </li>
    </ul>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</header>

<body>

    <h1>
      <center>RobOSHA</center>
      <center><img src="static/images/robot_icon256.png" alt="RobOSHA icon"/></center>
    </h1>

<div>
<h3>
<center>
<table>
<tr>
<td width="90%">
<ul style="list-style: none;">
      <li>
        <a href="/robosha_faq">FAQ</a>
      </li>
      <li>
        <a href="/robosha_membership">Membership</a>
      </li>
</ul>
</td>
</tr>
</table>
</center>
</h3>
</div>

</body>

</html>
