<!DOCTYPE html>
<html>

<header>
    <title>Crapto Sent
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/crapto.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
        <div class=header-vcentered><img src="static/images/crapto32.png" alt="Crapto icon"/></div>
      </li>
      <li>
	<a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
</header>

<body>
  <center>
	<img src="static/images/crapto256.png" alt="Crapto icon"/>
  </center>
    <div class="container">
        {% block content1 %}
        {{send_output|safe}}
        {% endblock %}
    </div>
    <hr>
    <h5>If you wish to send an email to the recipient to let them know, just copy/paste the content below... then just substitute your own name instead of &lt;Someone&gt;.</h5>
    <hr>
    <div class="container">
        {% block content2 %}
        {{email_template_output|safe}}
        {% endblock %}
    </div>
</body>

</html>
