<!DOCTYPE html>
<html>

<header>
    <title>Crapto Wallet
    </title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/crapto.ico">
    <ul>
      <div class="header-centered">Copyright 2022 Heuristic Labs, LLC</div>
      <li>
        <div class=header-vcentered><img src="static/images/crapto32.png" alt="Crapto icon"/></div>
      </li>
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/about">About</a>
      </li>
    </ul>
</header>

<body>
  <center>
	<img src="static/images/crapto256.png" alt="Crapto icon"/>
  </center>
    <div class="container">
        {% block content %}
        {{input|safe}}
        {% endblock %}
    </div>
  <div class="container">
    <h4>Instructions</h4>
    <h5><b>Send</b>: choose an amount to deduct from your wallet and add to another wallet. If the wallet does not yet exist, it will be created (with initial passphrase same as wallet address). Can be used to introduce a new person to Crapto!</h5> 
    <h5><b>Mine</b>: spend one second verifying a block of the distributed ledger; earn a small amount of Crapto.</h5> 
  </div>
</body>

</html>
